@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model LibraryManagementSystem.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center">Add New User</h1>


<hr />
 <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light  ">
            <div class="container-fluid">
                <img src="https://th.bing.com/th/id/OIP.c7gLBJpEuUBJ0qsmkcCQgwAAAA?pid=ImgDet&rs=1" style="height:60px;width:140px"  alt="LOGO">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse  justify-content-between">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                        </li></ul>
                          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index"><b>Books</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserDetail" asp-action="Index"><b>User</b></a>
                        </li>
                        <a class="greeting nav-link text-dark" style="color: rgb(187, 26, 26);">  Welcome  @HttpContextAccessor.HttpContext.Session.GetString("EmailID")</a>
                    </ul>
                </div>
                         
                        </div>
                  
            </div>
        </nav>
    </header>
<div class="row">


    

    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                

                  <input type="file" name="file" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookID" class="control-label"></label>
                <input asp-for="BookID" class="form-control" />
                <span asp-validation-for="BookID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookEdition" class="control-label"></label>
                <input asp-for="BookEdition" class="form-control" />
                <span asp-validation-for="BookEdition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPages" class="control-label"></label>
                <input asp-for="TotalPages" class="form-control" />
                <span asp-validation-for="TotalPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedOn" class="control-label"></label>
                <input asp-for="AddedOn" class="form-control" />
                <span asp-validation-for="AddedOn" class="text-danger"></span>
            </div>
            <div class="form-group">  
                <label asp-for="Category" class="control-label"></label>  
                <select asp-for="Category" class="form-control">  
                    <option value="">Choose Category</option>  
                    <option value="Fantasy">Fantasy</option>  
                    <option value="Horror">Horror</option>
                    <option value="Programming">Programming</option>
                    <option value="ScienceFiction">ScienceFiction</option>
                    <option value="Environment">Environment</option>
                    <option value="Photography">Photography</option>  
                </select>  
                <span asp-validation-for="Category" class="text-danger"></span>  
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
